@{
    ViewData["Title"] = "Accès refusé";
}


<div class="mdl-grid mdl-center">
    
    <h2>@ViewData["Title"]</h2>
    
    <h4>DÉSOLÉ VOUS N'AVEZ PAS LES DROITS REQUIS POUR ACCÉDER À CETTE PAGE </h4>
</div>