@using Microsoft.AspNetCore.Mvc.Rendering
@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h2>@ViewData["Title"]</h2>
<h4>Entez votre email.</h4>
<hr />
<div class="row">
    <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-offset-desktop mdl-cell--6-col-tablet mdl-cell--1-offset-tablet mdl-cell--4-col-phone">
        <form asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <label asp-for="Email" class="mdl-textfield__label"></label>
                <input asp-for="Email" class="mdl-textfield__input" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Confirmer</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
