@using Microsoft.AspNetCore.Mvc.Rendering
@using WebSecurity.Models.ManageViewModels
@model WebSecurity.Models.ManageViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = "Changer mot de passe";
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
}


<form method="post" id="registerForm">

@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-offset-desktop mdl-cell--6-col-tablet mdl-cell--1-offset-tablet mdl-cell--4-col-phone">
        <h3>@ViewData["Title"]</h3>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <label class="mdl-textfield__label" asp-for="OldPassword"></label>
            <input class="mdl-textfield__input" asp-for="OldPassword" class="form-control" />
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <label class="mdl-textfield__label" asp-for="NewPassword"></label>
            <input class="mdl-textfield__input" asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <label class="mdl-textfield__label" asp-for="ConfirmPassword"></label>
            <input class="mdl-textfield__input" asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Mettre à jour</button>
       
    </div>
</div>

</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
