@import "_variables.scss";

/**
 * SafetyMeasure App Login UI Components. 
 * Based on     MDL Text Fields: https://getmdl.io/components/index.html#textfields-section
 *              MDL Buttons: https://getmdl.io/components/index.html#buttons-section
 */

.bla-remember-me-checkbox {
    margin-top: 25px;
}

.mdl-textfield--floating-label{
    color: #000000 !important;
}

.mdl-button--file {
    input {
        cursor: pointer;
        height: 100%;
        right: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 300px;
        z-index: 4;
    }
}

.mdl-textfield--file {
    .mdl-textfield__input {
        box-sizing: border-box;
        width: calc(100% - 32px);
    }
    .mdl-button--file {
        right: 0;
    }
}

#login-footer {
    display: grid;
    margin-top: 10%;
}

#sign-in {
    text-decoration: none;
    margin-top: 20px;
    text-align: center;
    color: #6200FF;
}