// Screen sizes and viewport 
$screen-xs: 480px;
$screen-sm: 640px;
$screen-md: 992px;
$screen-lg: 1199px;
$screen-xl: 1400px;
$screen-xxl: 1600px;

// Grid layout
$col-margin: 8px;

// Cards width
$card-square-width: 320px;

// Color scheme
$bla-accent: #372A1E;

// General border radius
$border-radius: .25rem !default;